*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    /* background-color: cyan; */
    height: auto;
    width: auto;
    font-size: 20px;
    background-image: url(./img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.box-container{
    display: flex;
    width: 70%;
    height: auto;
    /* border: 1px solid black; */
    margin-left: 15%;
    margin-right: 15%;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: orange; */
    /* border: 1px dashed black; */
    margin-top: 2rem;
    margin-bottom: 2rem;
    height: 3rem;
}

.logo{
    justify-content: flex-start;
    width: 15%;
    padding-left: 0.5rem;
}

.link{
    color: white;
    width: 70%;
}

.login{
    justify-content: flex-end;
    width: 15%;
    padding-right: 0.5rem;
}

button{
    background-color: white;
    padding: 1rem;
    border-radius: 25px;
    border: none;
}

.container{
    width: auto;
    height: auto;
}

.blue{
    /* background-color: blue; */
}

.violet{
    color: white;
    width: 50%;
    height: 20rem;
    margin: 4rem;
    text-align: center;
}

h1{
    margin-bottom: 5rem;
}

h2{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 3rem;
}

p{
    margin-bottom: 1rem;
    font-size: 2rem;
}

.white{
    padding: 1rem;
    background-color: white;
}

.pink{
    height: 20rem;
    width: 40%;
    /* background-color: pink; */
}

.acqua{
    height: auto;
    width: 60%;
    /* background-color: aquamarine; */
}

.grey{
    background-color: gray;
}

.green{
    /* background-color: green; */
    width: 100%;
    height: 50rem;
    text-align: center;
}

.darkgray{
    background-color: #222;
    padding: 1rem;
}

.darkpink{
    /* background-color: palevioletred; */
    height: 30rem;
    width: 35%;
    text-align: center;
    padding: 1rem;
}

.cyan{
    line-height: 4rem;
    font-size: 1.2rem;
    color: white;
    /* background-color: cyan; */
    height: 30rem;
    width: 20%;
    /* border: 1px dashed white; */
}

.footer-container{
    /* background-color: cyan; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}

.logo2{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: pink; */
    width: 7.5rem;
    height: 2rem;
    /* border: 1px dashed black;  */
}

.bottone{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: pink; */
    width: 4rem;
    height: 2rem;
    border: 1px dashed black; 
}

h3{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.headline{
    color: cyan;
}

.